.image {
  cursor: pointer;
}

.image:hover {
  opacity: 0.5;
}

.full {
  transition: opacity 400ms ease 250ms;
}

.thumb {
  filter: blur(20px);
  transition: visibility 0ms ease 250ms;
  visibility: visible;
}

.image-loaded {
  opacity: 1;
  display: block;
}

.image-not-loaded {
  opacity: 1;
  display: "none"
}

.top-center {
  position: absolute;
  top: 0px;
  width: 100%;
  font-size: 16px;
  border-radius: 2px;
  background: #030303;
  max-height: 25px;
  overflow: hidden;
  color: #fff;
  border-left: 2px solid #fff;
  border-right: 2px solid #fff;
}

.top-center:hover {
  overflow: visible;
  max-height: 100%;
}