.image {
  max-width: inherit;
  height: auto;
}

.image--full {
  transition: opacity 400ms ease 250ms;
}

.image--thumb {
  filter: blur(20px);
  transition: visibility 0ms ease 250ms;
  visibility: visible;
}

.image-loaded {
  opacity: 1;
  display: block;
}

.image--not-loaded {
  opacity: 1;
  display: none;
}

.image--thumb-loaded {
  visibility: hidden;
  display: none;
}

.image--thumb--not-loaded {
  visibility: visible;
  display: block;
}