@import url('https://fonts.googleapis.com/css?family=K2D:500&subset=latin-ext');

body {
  margin: 0;
  font-family: K2D, Arial;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  color: black;
}